*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    border: 1px solid;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    
    
    .select,
    .inpValor,
    #btnConvertir{
        padding: 10px 20px;
        border-radius: 10px;
        
    }

    #btnConvertir:disabled{
        cursor: not-allowed;
        opacity: .5;
    }
    #btnConvertir{
        background-color: #000;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }

    #resultado {
        position: fixed;
        bottom: calc(50% - 135px);
        left: 50%;
        transform: translateX(-50%);
        background: white;
        padding: 10px 20px;
        border-radius: 5px;
        /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
       
    }
}



